<div class="banner-big" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1606733847546-db8546099013?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2855&q=80);">
  <div class="container">
    <h1>Bored of your board game?</h1>
    <h2>Then sell it, and buy another one.</h2>
    <%= simple_form_for :index, url: offers_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" placeholder="Search game" type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>
</div>

<!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <div class="col-12 d-flex">
        <% @offers1.each do |offer| %>
      
      <%= link_to(offer) do %>
      
      <div class="offer-card">

        <%= cl_image_tag offer.photos.first.key, :height=>180, :width=>180, :crop=>"fill" %>
        
        <div class="offer-price"><%= number_to_currency(offer.price, :unit => "€")%></div>

        <div class="offer-card-body">
          <h5 class="offer-name"><%= offer.game_name %></h5>
          <div>
            <% if offer.game_condition == "As new" %>
              <p class="badge badge-success"><%= offer.game_condition %></p>
            <% elsif offer.game_condition == "Good condition" %>
              <p class="badge badge-primary"><%= offer.game_condition %></p>
            <% elsif offer.game_condition == "Used" %>
              <p class="badge badge-warning"><%= offer.game_condition %></p>
            <% else %>
              <p class="badge badge-danger"><%= offer.game_condition %></p>
            <% end %>
          </div>

        </div>

      </div>
      <% end %>
    <% end %>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="col-12 d-flex">
       <% @offers2.each do |offer| %>
      
      <%= link_to(offer) do %>
      
      <div class="offer-card">

        <%= cl_image_tag offer.photos.first.key, :height=>180, :width=>180, :crop=>"fill" %>
        
        <div class="offer-price"><%= number_to_currency(offer.price, :unit => "€")%></div>

        <div class="offer-card-body">
          <h5 class="offer-name"><%= offer.game_name %></h5>
          <div>
            <% if offer.game_condition == "As new" %>
              <p class="badge badge-success"><%= offer.game_condition %></p>
            <% elsif offer.game_condition == "Good condition" %>
              <p class="badge badge-primary"><%= offer.game_condition %></p>
            <% elsif offer.game_condition == "Used" %>
              <p class="badge badge-warning"><%= offer.game_condition %></p>
            <% else %>
              <p class="badge badge-danger"><%= offer.game_condition %></p>
            <% end %>
          </div>

        </div>

      </div>
      <% end %>
    <% end %>
      </div>
    </div>

  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>


  <!-- If we need scrollbar -->
</div>
