<div class="container pt-3">
  <h1>Dashboard</h1>

  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-primary btn-lg btn-block collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            My offers (<%= @my_offers.count %>)
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div class="row justify-content-center flex-wrap">
            <div class="col-12 d-flex flex-wrap">
              <% @my_offers.each do |offer| %>
                <%= link_to(offer) do %>
                <div class="offer-card">
                  <%= cl_image_tag offer.photos.first.key, :height=>197, :width=>197, :crop=>"fill" %>
                  <div class="offer-price"><%= number_to_currency(offer.price, :unit => "€")%></div>
                  <div class="offer-card-body">
                    <h5 class="offer-name"><%= offer.game_name %></h5>
                    <div>
                      <% if offer.game_condition == "As new" %>
                        <p class="badge badge-success"><%= offer.game_condition %></p>
                      <% elsif offer.game_condition == "Good condition" %>
                        <p class="badge badge-primary"><%= offer.game_condition %></p>
                      <% elsif offer.game_condition == "Used" %>
                        <p class="badge badge-warning"><%= offer.game_condition %></p>
                      <% else %>
                        <p class="badge badge-danger"><%= offer.game_condition %></p>
                      <% end %>
                    </div>
                  </div>
                </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-primary btn-lg btn-block collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            My sold games (<%= @my_sales.count %>)
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <div class="row justify-content-center flex-wrap">
            <div class="col-12 d-flex flex-wrap">
              <% @my_sales.each do |offer| %>
                <%= link_to(offer) do %>
                <div class="offer-card">
                  <%= cl_image_tag offer.photos.first.key, :height=>197, :width=>197, :crop=>"fill" %>
                  <div class="offer-price"><%= number_to_currency(offer.price, :unit => "€")%></div>
                  <div class="offer-card-body">
                    <h5 class="offer-name"><%= offer.game_name %></h5>
                    <div>
                      <% if offer.game_condition == "As new" %>
                        <p class="badge badge-success"><%= offer.game_condition %></p>
                      <% elsif offer.game_condition == "Good condition" %>
                        <p class="badge badge-primary"><%= offer.game_condition %></p>
                      <% elsif offer.game_condition == "Used" %>
                        <p class="badge badge-warning"><%= offer.game_condition %></p>
                      <% else %>
                        <p class="badge badge-danger"><%= offer.game_condition %></p>
                      <% end %>

                      <% if ((offer.purchases.any?) && (offer.purchases.first.reviews.any?)) %>

                        <div class="review-block">
                          <div class="review-content">
                            <%= offer.purchases.first.reviews.first.content %>
                          </div>

                          <div class="review-rating">
                          <% rating = offer.purchases.first.reviews.first.rating %>
                          <% rating.times do  %>
                            <i class="fas fa-star golden-stars"></i>
                          <% end %>
                          <% (5-rating).times do  %>
                            <i class="far fa-star golden-stars"></i>
                          <% end %>
                          </div>

                      <% else %>
                      <% end %>
                    </div>

                  </div>
                </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-primary btn-lg btn-block collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            My bought games (<%= @my_purchases.count %>)
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          <div class="row justify-content-center flex-wrap">
            <div class="col-12 d-flex flex-wrap">
              <% @my_purchases.each do |purchase| %>
                <%= link_to(purchase.offer) do %>
                <div class="offer-card">
                  <%= cl_image_tag purchase.offer.photos.first.key, :height=>197, :width=>197, :crop=>"fill" %>
                  <div class="offer-price"><%= number_to_currency(purchase.offer.price, :unit => "€")%></div>
                  <div class="offer-card-body">
                    <h5 class="offer-name"><%= purchase.offer.game_name %></h5>
                    <div>
                      <% if purchase.offer.game_condition == "As new" %>
                        <p class="badge badge-success"><%= purchase.offer.game_condition %></p>
                      <% elsif purchase.offer.game_condition == "Good condition" %>
                        <p class="badge badge-primary"><%= purchase.offer.game_condition %></p>
                      <% elsif purchase.offer.game_condition == "Used" %>
                        <p class="badge badge-warning"><%= purchase.offer.game_condition %></p>
                      <% else %>
                        <p class="badge badge-danger"><%= purchase.offer.game_condition %></p>
                      <% end %>
                    </div>

                      <% if purchase.reviews.any? %>

                      <div class="review-block">
                        <div class="review-content">
                          <%= purchase.reviews.first.content %>
                        </div>
                        <div class="review-rating">
                          <% rating = purchase.reviews.first.rating %>
                          <% rating.times do  %>
                            <i class="fas fa-star golden-stars"></i>
                          <% end %>
                          <% (5-rating).times do  %>
                            <i class="far fa-star golden-stars"></i>
                          <% end %>
                        </div>
                      </div>

                      <% else %>
                      <div class="review-margin-bottom d-flex justify-content-center">
                        <%= link_to 'Rate this purchase', new_offer_purchase_review_path(purchase.offer, purchase), {class: "add-review-button"} %>
                      </div>
                      <% end %>


                  </div>
                </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



