<%= render 'shared/banner' %>
<div class="container pt-3">
  <% if @searched && @searched != "" %>
  <h3><%= @offers.size %> results found for "<%= @searched %>"</h3>
  <% end %>

  <%= link_to offers_path(sort_by_price: params[:sort_by_price] == "ASC" ? "DESC" : "ASC"), class: "btn btn-secondary btn-sm active" do %>
  Filter by price
  <i class="fas fa-arrow-<%= params[:sort_by_price] == "DESC" ? "up" : "down" %>"></i>
  <% end %>
  
  <div class="row justify-content-left d-flex flex-wrap">

    <% @offers.each do |offer| %>
      
      <%= link_to(offer) do %>
      
      <div class="offer-card">

        <%= cl_image_tag offer.photos.first.key, :height=>197, :width=>197, :crop=>"fill" %>
        
        <div class="offer-price"><%= number_to_currency(offer.price, :unit => "€")%></div>

        <div class="offer-card-body">
          <h5 class="offer-name"><%= offer.game_name %></h5>
          <div>
            <% if offer.game_condition == "As new" %>
              <p class="badge badge-success"><%= offer.game_condition %></p>
            <% elsif offer.game_condition == "Good condition" %>
              <p class="badge badge-primary"><%= offer.game_condition %></p>
            <% elsif offer.game_condition == "Used" %>
              <p class="badge badge-warning"><%= offer.game_condition %></p>
            <% else %>
              <p class="badge badge-danger"><%= offer.game_condition %></p>
            <% end %>
          </div>

        </div>

      </div>
      <% end %>
    <% end %>
  </div>
</div>
