<%= render 'shared/banner' %>
<div class="container pt-3">
  <% if @searched && @searched != "" %>
  <h3><%= @offers.size %> results found for "<%= @searched %>"</h3>
  <% end %>
  <div class="row justify-content-center flex-wrap">
    <div class="col-12 d-flex">
      <% @offers.each do |offer| %>
      <div class="card m-3 p-3" style="width: 200px;">
        <% if offer.photos.first.present? %>
          <%= cl_image_tag offer.photos.first.key %>
        <% else %>
          <img class="card-img-top" src="https://source.unsplash.com/random/?boardgame" alt="Card image cap">
        <% end %>
        <div class="card-body pb-0 d-flex flex-wrap align-content-end justify-content-around">
          <h5 class="card-title"><%= offer.game_name %></h5>
          <div>
            <% if offer.game_condition == "As new" %>
              <p class="badge badge-success"><%= offer.game_condition %></p>
            <% elsif offer.game_condition == "Good condition" %>
              <p class="badge badge-primary"><%= offer.game_condition %></p>
            <% elsif offer.game_condition == "Used" %>
              <p class="badge badge-warning"><%= offer.game_condition %></p>
            <% else %>
              <p class="badge badge-danger"><%= offer.game_condition %></p>
            <% end %>
            <p class="card-text"><%= number_to_currency(offer.price, :unit => "€")%></p>
            <%= link_to 'See offer', offer_path(offer), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
