<div class="container pt-3">
  <h2><%= @offer.game_name %></h2>
  <% @offer.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 150, width: 150, crop: :fill %>
  <% end %>
  <p><%= @offer.description %></p>
  <p><%= @offer.game_condition %></p>
  <p><%= @offer.price %></p>
  <p><%= @offer.description %></p>
  <p><%= @offer.location %></p>
  <p><%= @offer.delivery_type %></p>
  <p><%= @offer.language %></p>

  <% if policy(@offer).edit? %>
    <div><%= link_to "Edit", edit_offer_path, class: "btn btn-primary"%></div>
  <% end %>
  <% if policy(@offer).edit? %>
    <div><%= link_to "Delete",
              offer_path(@offer),
              class: "btn btn-danger my-3",
              method: :delete,
              data: { confirm: "Are you sure?" } %></div>
  <% end %>

<% if policy(@offer).purchase? %>
  <%= simple_form_for ([@offer, @transaction]),
    wrapper: :inline_form,
    html: { class: "form-inline" },
    wrapper_mappings: {
      boolean: :inline_boolean
    } do |f| %>

    <%= f.input :chosen_delivery, collection: ["In person", "Colissimo", "Point Relay"] , input_html: { class: "mb-2 mr-sm-2" } %>

    <%= f.button :submit, 'Buy this game', class: "btn-primary mb-2" %>
  <% end %>
<% end %>

</div>
