<h1>HERE THE SHOW LIKE SHOW MUST GO ON !</h1>



<h2><%= @offer.game_name %></h2>
<p><%= @offer.description %></p>
<p><%= @offer.game_condition %></p>
<p><%= @offer.price %></p>
<p><%= @offer.description %></p>
<p><%= @offer.location %></p>
<p><%= @offer.delivery_type %></p>
<p><%= @offer.language %></p>




